<!-- Separate statements, need either separate lines or a semicolon -->
<% const d = new Date() 
let year = d.getFullYear() %>
<footer>
  <a href="/inv/detail/0">Server Error</a>
  <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
</footer>